.navbar-default {
    background: lightgray;
  }
  .navbar {
    border: 0;
    border-radius: 0;
  }
  ul.nav {
    list-style: none;
    border-right: 1px solid lightgray;
  }
  ul.nav li {
    padding: 20px 0;
    display: inline-block;
  }
  ul.nav li a {
    padding: 20px 10px;
    color: #fff;
    position: relative;
  }
  ul.nav li a:after {
    position: absolute;
    content: "";
    width: 2px;
    height: 60%;
    right: 0;
    background: white;
    top: 50%;
    transform: translate(0, -50%);
  }
  ul.nav li:first-child a:before {
    position: absolute;
    content: "";
    width: 2px;
    height: 60%;
    left: 0;
    background: white;
    top: 50%;
    transform: translate(0, -50%);
  }
  .navbar-default .navbar-nav>li>a,
  .navbar-default .navbar-nav>li>a:focus,
  .navbar-default .navbar-nav>li>a:hover {
    color: black;
  }
  .navbar-default .navbar-nav>li>a:hover {
    background: lightgray;
  }
  ::-webkit-scrollbar {
    width: 20px;
  }
  
  ::-webkit-scrollbar-track {
    background-color: transparent;
  }
  ::-webkit-scrollbar-thumb {
    background-color: #d6dee1;
    border-radius: 20px;
    border: 6px solid transparent;
    background-clip: content-box;
  }
  
  .profil {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .card-img-top {
    border-radius: 50%;
  }